@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

$secondaryFont: 'Open Sans', sans-serif;

header {
    background-color: rgba(0, 0, 0, 0.5%);
h2 {
    color: #ffffff;
}
a {
    text-decoration: none;
    font-family: $secondaryFont;
    padding: 1%;
}
}

.navLinks {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}