h3 {font-size: 1em}
/*This doesn't belong here, I accidnetly started
styling the card, because that's how genius I am */
.recipe-card {
  margin: 2em auto;
  max-width: 80%;
  display: flex;
}

.card-ingredients { 
  }
.recipeform { } 